header {
    background-color: #424E61;
    color: white;
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 50%;
}
.escola{
    background-image: linear-gradient(#042a66,#1370bd);
    color: white;
}
.escola-titulo{
    color: black;
}
.escola-texto{
    color: black;
}
